[submodule "cookbooks/rightscale"]
	path = cookbooks/rightscale
	url = git@github.com:rgeyer-rs-cookbooks/rightscale.git
[submodule "cookbooks/dotfiles"]
	path = cookbooks/dotfiles
	url = git@github.com:rgeyer-rs-cookbooks/dotfiles.git
[submodule "cookbooks/zsh"]
	path = cookbooks/zsh
	url = git@github.com:rgeyer-rs-cookbooks/zsh.git
[submodule "cookbooks/osx"]
	path = cookbooks/osx
	url = git@github.com:rgeyer-rs-cookbooks/osx.git
[submodule "cookbooks/iterm2"]
	path = cookbooks/iterm2
	url = git@github.com:rgeyer-rs-cookbooks/iterm2.git
[submodule "cookbooks/phpenv"]
	path = cookbooks/phpenv
	url = git@github.com:rgeyer-rs-cookbooks/phpenv.git
[submodule "cookbooks/wget"]
	path = cookbooks/wget
	url = git@github.com:rgeyer-rs-cookbooks/wget.git
[submodule "cookbooks/phpbuild"]
	path = cookbooks/phpbuild
	url = git@github.com:rgeyer-rs-cookbooks/phpbuild.git
